.brand-logo {
    height: 64px;
}

.add-group, .add-link, .url {
    display: flex;
    align-items: center;
}

.url:hover {
    background-color: chocolate;
}

.url {
    font-family: system-ui, "Apple SD Gothic Neo", AppleGothic, sans-serif !important;
}

nav {
    margin-bottom: 60px;
}

.link-icon {
    margin-right: 10px;
}

.url-text {
    color: #2196F3;
}

.url-text > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.color-picker-cont, .color-picker-buttons-cont {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
}

.no-data {
    font-family: system-ui, "Apple SD Gothic Neo", AppleGothic, sans-serif !important;
    font-size: large;
}

.preloader-cont {
    display: flex;
    justify-content: center;
}

.web-icon {
    font-size: 16px !important;
    margin-right: 10px;
}

body {
    background-color: rgba(192,192,192,.1);
}

.add-group,
.dropdown-trigger.btn,
.url-edit,
.url-delete,
.add-link,
.url-form-submit,
.url-form-delete,
.group-form-submit
{
    background-color: grey;
    color: #e0e0e0;
}

.add-group:hover,
.dropdown-trigger.btn:hover,
.url-edit:hover,
.url-delete:hover,
.add-link:hover,
.url-form-submit:hover,
.url-form-delete:hover,
.group-form-submit:hover
{
    color: white;
}

.url-edit:hover
{
    background-color: rgb(66,133,244);
}

.url-delete:hover
{
    background-color: rgb(219,68,55);
}

.add-group:hover,
.add-link:hover
{
    background-color: rgb(15,157,88);
}

.dropdown-trigger.btn:hover
{
    background-color: rgb(244,160,0);
}

.card {
    background-color: rgba(192,192,192,.1);
}

.search-icon {
    color: #9e9e9e;
}

.search-icon.active,
label[for="search"].active
{
    color: rgb(15,157,88) !important;
}

input[id="search"]:focus {
    border-bottom: 1px solid rgb(15,157,88) !important;
}

.group-form-submit:hover,
.url-form-submit:hover {
    background-color: rgb(15,157,88);
}

.url-form-delete:hover {
    background-color: rgb(219,68,55);
}

.logo-cont {
    margin: 25px 0 30px 25px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-content li > a {
    color: rgb(15,157,88);
}

.delete-group {
    color: rgb(219,68,55) !important;
}

.edit-group-name {
    color: rgb(66,133,244) !important;
}

.change-color {
    color: rgb(244,160,0) !important;
}
