body {
    background-color: rgba(192,192,192,.1);
}

.logo-cont {
    margin: 25px 0 30px 25px;
}

#textarea {
    /*width: 550px;*/
}

.card {
    background-color: rgba(192,192,192,.1);
}

.card-content {
    overflow: scroll;
}

.btn {
    color: #9e9e9e;
    background-color: grey;
}

.btn:hover {
    background-color: rgb(15,157,88) !important;
    color: white;
}

label[for="textarea"].active
{
    color: rgb(15,157,88) !important;
}

#textarea:focus {
    border-bottom: 1px solid rgb(15,157,88) !important;
}