.brand-logo {
    height: 64px;
}

.add-group, .add-link, .url {
    display: flex;
    align-items: center;
}

.url:hover {
    background-color: chocolate;
}

.url {
    font-family: system-ui, "Apple SD Gothic Neo", AppleGothic, sans-serif !important;
}

nav {
    margin-bottom: 60px;
}

.link-icon {
    margin-right: 10px;
}

.color-picker {
    /*float: right;*/
}

.url-text {
    color: #2196F3;
}

.color-picker-cont, .color-picker-buttons-cont {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
}