body {
    background-color: rgba(192,192,192,.1);
}

.logo-cont {
    margin: 25px 0 30px 25px;
}

.card {
    color: grey;
    background-color: rgba(192,192,192,.1);
}

.card-content {
    overflow: auto;
}

.btn {
    color: #9e9e9e;
    background-color: grey;
}

button[type="submit"]:hover {
    background-color: rgb(15,157,88) !important;
    color: white;
}

#copy-data:hover {
    background-color: rgb(66,133,244);
    color: white;
}

label[for="textarea"].active
{
    color: rgb(15,157,88) !important;
}

#textarea:focus {
    border-bottom: 1px solid rgb(15,157,88) !important;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 3%;
    left: 1%;
}

.save-to-account,
.overwrite-with-account-data
{
    display: flex;
    align-items: center;
    background-color: grey;
    color: #e0e0e0;
}

.save-to-account:hover,
.overwrite-with-account-data:hover
{
    color: white;
}

.save-to-account:hover {
    background-color: rgb(15,157,88);
}

.overwrite-with-account-data:hover {
    background-color: rgb(66,133,244);
}